.not-found-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  gap: 6px;
  background: linear-gradient(360deg, rgb(18 136 176 / 68%), #2b344c00);

  &_title {
    font-size: 40px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    margin-top: 20px;
  }

  div {
    font-size: 14px;
  }
}
